<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.pushtool.mapper.SysPushTaskMapper">
    <insert id="insertSysPushTask" parameterType="SysPushTask" useGeneratedKeys="true" keyProperty="id">
        insert into sys_push_task
        (request_id, ai_config_id, wecom_config_id, prompt_key, msg_type, receivers, receiver_group,
         payload, ai_result, status, error_msg, send_time, create_by, create_time)
        values
        (#{requestId}, #{aiConfigId}, #{wecomConfigId}, #{promptKey}, #{msgType}, #{receivers}, #{receiverGroup},
         #{payload}, #{aiResult}, #{status}, #{errorMsg}, #{sendTime}, #{createBy}, #{createTime})
    </insert>
</mapper>
