<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('推送平台配置列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>配置名称：<input type="text" name="configName"/></li>
                        <li>企业ID：<input type="text" name="corpId"/></li>
                        <li>AgentId：<input type="text" name="agentId"/></li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i> 搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i> 重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="pushtool:wecomConfig:add"><i class="fa fa-plus"></i> 新增</a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="pushtool:wecomConfig:remove"><i class="fa fa-remove"></i> 删除</a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('pushtool:wecomConfig:edit')}]];
    var removeFlag = [[${@permission.hasPermi('pushtool:wecomConfig:remove')}]];
    var prefix = ctx + "pushtool/wecomConfig";

    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "推送平台配置",
            columns: [
                {checkbox: true},
                {field: 'id', title: '编号', visible: false},
                {field: 'configName', title: '配置名称'},
                {field: 'corpId', title: '企业ID', formatter: function(value){ return $.table.tooltip(value, 20); }},
                {field: 'agentId', title: 'AgentId'},
                {field: 'defaultMsgType', title: '默认消息类型'},
                {field: 'defaultUser', title: '默认接收人', formatter: function(value){ return $.table.tooltip(value, 25); }},
                {field: 'receiverGroups', title: '接收人分组', formatter: function(value){ return $.table.tooltip(value, 30); }},
                {field: 'cardBtnText', title: '卡片按钮文字'},
                {field: 'createTime', title: '创建时间'},
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }
            ]
        };
        $.table.init(options);
    });
</script>
</body>
</html>
